<!DOCTYPE html>
<html class="no-js">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Vue-Computed</title>
            <meta name="description">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
        	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        </head>
        <body>
            <div id="computed" class="container">
                FirstName: <input type="text" v-model="firstname">
                LastName: <input type="text" v-model="lastname"><br></br>
                My fullname is : {{ fullname }}
            </div>
            <script>
                new Vue({
                    el: "#computed",
                    data: {
                        firstname: ' ',
                        lastname: ' '
                    },
                    computed: {
                        fullname:  function () {
                                return this.firstname + ' ' + this.lastname;
                        }
                    }
                })
            </script>
        </body>
</html>