<!DOCTYPE html>
<html>
	<head>
		<title>Vue Tasks</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<h2>Tasks</h2>
			<ul>
				<li v-for="task in tasks" v-text="task.description"></li>
			</ul>

			<h2>Incompleted Tasks</h2>
			<ul>
				<li v-for="task in IncompletedTasks" v-text="task.description"></li>
			</ul>
		</div>
		<script>
			new Vue({
				el: "#root",
				data: {
					tasks: [
						{description:'Go to shop', completed:true},
						{description:'Go to bank', completed:false},
					 	{description:'Go to work', completed:true}
					]
				},
				computed: {
					IncompletedTasks(){
						return this.tasks.filter(tasks => ! tasks.completed)
					}
				}		
			});
		</script>
	</body>
</html>